# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

sdk/build/
sdk/dist/
target/

.settings/
.vscode/
.project

# generated code
sdk/ovirtsdk4/readers.go
sdk/ovirtsdk4/services.go
# sdk/ovirtsdk4/types.go
sdk/ovirtsdk4/version.go
sdk/ovirtsdk4/writers.go
